/*Fonte normal*/
@font-face 
{
    font-family: FonteNormal;
    src: url(fonts/GlacialIndifference-Regular.otf) format(otf);
    font-weight: normal;
    font-style: normal;
}

/*Fonte com negrito*/
@font-face 
{
    font-family: FonteNegrito;
    src: url(fonts/GlacialIndifference-Bold.otf) format(otf); 
    font-weight: normal;
    font-style: normal;
}

.boxSuperior 
{
    white-space: nowrap;
    color: white;
    background-image: linear-gradient(to right, #2328bd, #2c1e42);
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    height: 70px;
}

.imagem1
{
    display: inline-block; 
    width: 8%; 
    vertical-align: middle;
    margin-right: 2%;
}

#links1 
{
    display: inline-block;  
    vertical-align: middle;
    margin-right: 4%;
    font-size: 120%;
    font-family: "FonteNormal", sans-serif;
    color: white;
    text-decoration: none;
}

h1
{
    font-size: 60px;
    font-family: "FonteNormal", sans-serif;
    margin-left: 80px;
}

.formulario
{
    position: absolute;
    border: 4px solid #25186e;
    margin-left: 80px;
    margin-top: -30px;
    width: 270px;
    height: 420px;
    padding: 30px;
}

#data
{
    border-radius: 25px;
    padding: 10px;
    border: 4px solid #25186e;
    font-size: 130%;
    font-family: "FonteNormal", sans-serif;
}

label
{
    font-family: "FonteNormal", sans-serif;
}

#textarea
{
    font-family: "FonteNormal", sans-serif;
    border-radius: 15px;
    width: 245px;
    height: 120px;
    padding: 10px;
    border: 4px solid #25186e;
    font-size: 120%;
}

#submit
{
    border: none;
    border-radius: 8px;
    padding: 10px;
    width: 45%;
    background-image: linear-gradient(to right, #2328bd, #2c1e42);
    color: white;
    cursor: pointer;
    font-size: 15px;
}

iframe
{
    position: absolute;
    border: 4px solid #23108c;
    height: 440px;
    margin-top: -30px;
    margin-left: 435px;
    width: 62.5%;
    padding: 20px;
}